build --symlink_prefix=./out/bazel_build/bazel-
build --nocheck_visibility
build --@xla//xla/python:enable_gpu=false
common --experimental_repo_remote_exec
build --copt=-fvisibility=hidden
build --copt=-Wno-sign-compare
build --cxxopt=-std=c++17
build --host_cxxopt=-std=c++17